*{
    list-style: none;
    text-decoration: none;

}
body{
    z-index: -1;
    background-color: rgb(226, 218, 218);

}
.frame{
    z-index: 1;
    height: 7234.5px;
    background-color: #f4f5f6;
}
/*==================================================================================
                               Header section 

==================================================================================*/
header{
    position: relative;
    z-index: 1;
    height: 95px;
    padding: 20px 10px 15px;
    background-color: #FF2210;
}

.logo{
    height: 90px; 
}
.logo img{
    height: 70px;
}
.h-left{
    bottom: 0;
    left: 0;
    height: 34px;
    color: white;
}
.h-right{
    text-align: right;
    height: 34px;
    color: white;
}
.h-right a#sign-in{
    
    width: 80px;
    height:34px;
    padding: 10px 12px;
    cursor: pointer;
}
.h-right a#subscribe-top{
    width: 128px;
    height: 34px;
    padding: 10px 10px 10px 12px;
    background-color: white;
    color: #FF2210;
    cursor: pointer;
}
/*==================================================================================
                                Nav section 

==================================================================================*/
nav{
    height: 56px;
    padding: 15px 160px 15px 0;
    
    border-bottom: 1px solid #ecf0f1;
    background-color: white;
}
nav ul li{
    
    
}
nav ul li a{
    width: 120px;
    display: block;
    height: 24px;
    text-align: center;
    font-weight: bold;
    font-family: "Roboto condensed", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: black;
    
     
}
nav ul li a:hover{
    text-decoration: none;
    color: #FF2210;
}
nav ul li a#us{
    width: 96px;
}
nav ul li a#tech{
    width: 189px;
}
nav input{
    width: 70px;
    
    border: none;
}
/*==================================================================================
                                section top

==================================================================================*/
main{
    height: 8091px;
    
    margin: 0;
    padding: 0;
    background-color: white; 
  }
  main.container-fluid{
      padding:0;
  }
#top{
    margin: 0;
    padding: 0 30px;
    width: 100%;

}
.bigleft{
    height: 2515px;
    
}
.bigleft h6{
    color: rgba(3,3,3,0.4);
    padding: 0 0 11px;
}
.col1{
    width: 28%;
    padding: 0 15px;
    
}
.col1 picture img,
.col2 picture img{
    width: 100%;
}
section h3 a{
    font-size: 24px;
    color: black;
}
section h3 a:hover{
    text-decoration: underline;
    text-decoration-color: #FF2210;
    color: black;
}
article h3 a{
    font-size: 24px;
    color: black;
}
article h3 a:hover{
    text-decoration: underline;
    text-decoration-color: #FF2210;
    color: black;

}
.col1 p,
.col2 p{
    font-size: 14px;
    color: #333;
}

/* columna dos  */
.col2{
    width: 42.6%;
    height: 1696px;
    padding: 0 15px;
    
}
.middle h3{
    font-weight: 700;
}
.middle-down{
    width: 100%;
    height: 1696px;
    padding: 0 15px;
}
article.more-stories{
    width: 100%;
    padding: 14px 0;
    border-top: 1px solid #ddd;
    
}
article.more-stories picture{
    width: 26.6%;
}
article.more-stories img{
    width: 100%;
    height: 90px;
    
}
article.more-stories div{
    width: 69%;
    margin-left: 15px;
}
article.more-stories div h6{
    margin: 0;
    padding: 0 0 15px;
}
article.more-stories div h6 a{
    
    color: black;
    font-weight: 700;
}
article.more-stories div h6 a:hover{
    text-decoration: underline;
    text-decoration-color: #FF2210;
    color: black;
    
}
/* columna tres*/
.col3{
    width: 29.4%;
    height: 2515px;
    padding: 0 15px 0;
    
}


.right .one ul{
    padding: 0;
    margin: 0;
}
.right .one ul li#top{
    border: none;
    width: 100%;
    height: 88px;
    margin: 0;
    padding: 0 0 10px;
}
.right .one ul li{
    width: 100%;
    height: 88px;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #555;
}
.right .image-head {
    width: 18%;
    height: 63;
}
.right .image-head img{
    width: 100%;
}
/*letras a la derecha*/
.right .info{
    width: 82%;
    padding-left: 15px;
}
.right .info a.title{
    font-size: 14px;
    font-family: "Roboto condensed", sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: black;    

}
.right .info a.title:hover{
    text-decoration: underline;
    text-decoration-color: #FF2210;
    color: black;
}
.right .info a.author{
    font-size: 14px;
    font-family: "Roboto condensed", sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #555;   
}

/*  latest news section */
.two ul{
    padding: 0;
    margin: 0;

}
.two ul li{
    padding: 10px 0;
    border-bottom: 1px solid #555;

}
.two ul li#bottom{
    border: none;
}
.two ul li .photo{
    width: 39%;
    height: 100.11px;
    padding: 0 0 10px;
    margin: 0;
    
}

.two ul li .photo picture{
    width: 100%;
    height: 90.11px;
}
.two ul li picture img{
    width: 95%;
    height: 90.11px;
}
.two ul li div.info2 {
    width: 61%;
    height: 90.11px;
    padding: 0 10px;
}
.two ul li div.info2 a.title{
    
    height: 90.11px;
    font-size: 14px;
    font-family: "Roboto condensed", sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: black; 
}
.two ul li div.info2 a.title:hover{
    text-decoration: none;
   
    color: #FF2210;
}
/* sponsored insight*/
.three{
    width: 100%;
    height: 604px;
    


}
.three .sponsored{
    width: 100%;
    height: 441px;
    padding-bottom: 30px;
    

}
.three .sponsored a img{
    width: 100%;
    height: 227px;
    border: 1px solid lightgray;
}
.three .sponsored div.career-info{
    width: 100%;
    height: 184px;
    padding: 20px;
    margin: 0;
    border: 1px solid lightgray;
}
.three .sponsored div.career-info h3{
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;

}
.three .sponsored div.career-info p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

.three .signup{
    width: 88%;
    height: 163px;
    padding: 20px;
    margin: 0 20.59px 30px;
    background-color: #f4f5f6;
    border: 1px solid lightgray;
}

.icon-n{
    
    width: 34px;
    height: 28px;
    padding: 0;
    margin-right: 10px;
    margin-left: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: 1300;
    line-height: 28px;
    vertical-align: middle;
    color: white;
    background-color: #f72210;
    
}
.three .signup a#signupb{
    width: 100px;
    height: 38px;
    padding: 10px 10px 10px 12px;
    margin: 0 0 12px;
    background: #666666;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 700;
    line-height: 23px;
    vertical-align: middle;
    cursor: pointer;

}
#update{
    font-weight: bold;
}
/*==================================================================================
                                second

==================================================================================*/
.second{
    height:448px;
    margin-top: 15px;
    
}

.second .photo-left{
    width: 320px;
    height: 425px;
    padding: 0 15px;
    
}
.second .photo-left picture img{
    width: 100%;
    height: 387px;
}
.second .photo-left a{
    width: 100%;
    height: 38px;
    padding: 10px 10px 10px 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    text-align:center;
    color: black;
    font-weight: bold;
    background-color: #f4f5f6;
}
.second .photo-left a:hover{
    background-color: lightgray;
    text-decoration:none;
}


.second .title-photo{
    width: 73%;
    height: 447px;
    padding: 0 15px;
    text-align: center;
    
}
.titlep{
    margin: 0 0 12px;
    margin: 0 0 8px;
}
.title-photo h3{
    font-size: 19px;
    font-weight: bold;

}
.second .title-photo .photos33{
    width: 319.98px;
    height: 395.98px;
    padding: 0 15px;
   
}

.second .title-photo .photos33 picture{
    width: 110%;
    height: 289px;
}
.photos33 picture img{
    width: 100%;
    height: 289px;
}

.photos33 .cover{
    width: 100%;
    height: 26px;
    margin: 10px 0;
    padding: 0;

}
.photos33 .cover .red{
    display: block;
    width: 58.58px;
    height: 26px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
}
.photos33 .cover .white{
    display: block;
    color: red;
    margin-left: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}
.second .photos33 a.subtitle{
    display: block;
    width: 100%;
    
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align:left;
    
    color: black;
    font-weight: bold;
}
.second .photos33 a.subtitle:hover{
    text-decoration: underline;
    text-decoration-color: #FF2210;
    color: black;
}
/*==================================================================================
                               third

==================================================================================*/

.third{
    height: 426px;
    padding: 30px 15px 0;
    margin: 0;
   
}
.fourphotos{
    width: 320px;
    height: 376px;
    padding: 0 15px;
    

}
.fourphotos picture{
    width: 100%;
    height: 290px;
}
.fourphotos picture img{
    width: 100%;
    height: 290px;
}

.fourphotos .cover{
    width: 100%;
    height: 26px;
    margin: 10px 0;
    padding: 0;

}
.fourphotos .cover .red{
    display: block;
    width: 95.58px;
    height: 26px;
    background-color: red;
    color: white;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}
.fourphotos .cover .white{
    display: block;
    color: red;
    margin-left: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
}
.fourphotos a.subtitle{
    display: block;
    width: 100%;
    
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-align:left;
    line-height: 20px;
    color: black;
    font-weight: bold;
}
.fourphotos a.subtitle:hover{
    text-decoration: underline;
    text-decoration-color: #FF2210;
    color: black;
}
/*==================================================================================
                              fourth

==================================================================================*/

.fourth{
   
    height: 820px;
    border: 1px solid blue;

}
.photos8{
    width: 320px;
    height: 405px;
    padding: 0 15px;
    border: 1px solid brown;
}

.photos8 picture{
    width: 100%;
    height: 193.5px;
}
.photos8 picture img{
    width: 100%;
    height: 193.5px;
}
.photos8 p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.photos8 h3.subtitle{
    display: block;
    width: 100%;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    text-align:left;
    line-height: 20px;
    color: black;
    font-weight: bold;
}
.photos8 h3.subtitle:hover{
    text-decoration: underline;
    text-decoration-color: #FF2210;
    color: black;
}
/*==================================================================================
                              fifth

==================================================================================*/
.fifth{
    height: 813px;
    border: 1px solid brown;
}

.photos3{
    width: 426px;
    height: 378px;
    padding: 0 15px 40px;
    border: 1px solid brown;
}

/*==================================================================================
                              sixth

==================================================================================*/
.sixth{
    
    height: 352px;
    border: 1px solid brown;
}

.photos2{
    width: 426px;
    height: 343.7px;
    border: 1px solid brown;
}




/*==================================================================================
                              subscribe

==================================================================================*/
.subscribe{
    height: 408px;
    border: 1px solid brown;
    padding: 40px 0 0;
    
}

.subscribe .right{
    height: 328px;
   border: 1px solid blueviolet;
}
.subscribe .left{
    height: 328px;
    border: 1px solid green;
}

.subscribe h1{
    height: 27px;
    padding: 0 0 11px;
    border: 1px solid brown;
}
.subscribe .left .left1{
    height: 301px;
    padding: 30px;
    border: 1px solid red;
}

.subscribe .right{
    border: 1px solid green;
}

.subscribe .right .newsletter2{

    height: 301px;
    padding: 0 15px;
    margin-bottom: 40px;
    border: 1px solid rgb(255, 0, 242);
}
.subscribe .right .newsletter2 .right1{
    width: 190px;
    height: 301px;
    margin:0;
    padding:0;
    border: 1px solid lightcoral;
}
.subscribe .right .newsletter2 .right2{
    width: 206px;
    padding: 30px;
    border: 1px solid gray;
}
/*==================================================================================
                              footer

==================================================================================*/
footer{
    height: 198px;
    padding: 30px;
    border-top: 2px solid #ecf0f1;
}

